.app {
    display: flex;
	flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    box-sizing: border-box;
    padding: 1%;
    width: 100%;
    height: 100%;
    resize: none;
    flex: 1;
    border: 2px solid #fff;
    transition: border ease 0.15s;
    outline: none;
	margin: 0;
}

textarea:focus {
    border-color: #ff3304;
}

button {
	font-size: 100%;
	font-family: monospace;
	box-sizing: border-box;
	border: none;
	background-image: none;
	background-color: #fff;
	border-radius: 0;
	position: absolute;
	top: 27px;
	right: 2px;
	padding: 5px 10px;
}

button:active {
	background-color: #2ecc71;
}

.copyright {
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-clip: padding-box;
    z-index: 10;
}


@media (max-width: 500px) {
	.input {
		width: 100%;
		height: 75%;
	}

	.output {
		width: 100%;
		height: 75%;
	}
}
