.index {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
textarea {
  box-sizing: border-box;
  padding: 1%;
  width: 100%;
  height: 100%;
  resize: none;
  flex: 1;
  border: 2px solid #fff;
  transition: border ease 0.15s;
  outline: none;
}
textarea:focus {
  border-color: #ff3304;
}
