.copyright-component {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.4;
}

.copyright-component__link {
    display: block;
    font-size: 100%;
    padding: 1em;
    text-decoration: none;
    color: #000;
}

.copyright-component__license {
}

.copyright-component__author {
    text-decoration: underline;
}
