.output-component {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.output-component textarea {
    background-color: #fbfbfb;
    font-family: monospace;
}
